* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, Haettenschweiler, sans-serif;
}

.main {
    width: 340px;
    height: 660px;
    margin: 100px auto 0;
    /*border: 10px solid lightcoral;*/
    font-size: 0;
}

.cell {
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid white;
    display: inline-block;
}

.movingCell {
    background-color: greenyellow;
}

.fixedCell {
    background-image: url("arca2.jpg");
    background-size: cover;
    box-shadow: 0 0 4em 4em white inset;
}

.game {
    margin: auto;
    padding-top: 20px;
    width: 320px;
    font-size: 24px;
}